h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3.title {
    margin-left: 1em;
    font-weight: bold;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

img.expand {
    width: 100%;
    object-fit: cover;
}

p.title {
    display: block;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: black;
    font-size: large;
    font-style: bold;
}

p.title:hover {
    text-decoration: underline;
}

p.description {
    display: block;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-style: italic;
    font-size: medium;
}

.content {
    position: relative;
    margin-top: 1em;
    margin-bottom: 0em;
    outline: black;
    outline-width: thin;
    justify-content: center;
    height: auto;
    background-color: white;
    box-shadow: 0px 2px 2px;
    padding: 10%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.project-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: minmax(260px, 1fr);
    justify-content: flex-start;
    padding: 1em;
}

.project-container-content {
    text-decoration: none;
    color: gray;
    font-size: larger;
    box-shadow: 1px 4px 6px 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    border-radius: 4px;
}

.project-container-description {
    padding: 0.5em;
    padding-top: 0.3em;
}

.project-container-break {
    margin-bottom: 4em;
}

